CONFIG_IDF_TARGET="esp32"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_RF_ACTIVITY_LED_ENABLE=y
CONFIG_RF_ACTIVITY_LED_GPIO=2
CONFIG_RF_ACTIVITY_LED_ACTIVE_HIGH=y
CONFIG_RF_ACTIVITY_LED_PULSE_MS=25
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_LOG_COLORS=y
CONFIG_BOOTLOADER_LOG_COLORS=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_ota.csv"
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
