CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_RF_ACTIVITY_LED_PULSE_MS=25
CONFIG_LOG_COLORS=y
CONFIG_BOOTLOADER_LOG_COLORS=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_OTA_HTTP_PORT=80
CONFIG_OTA_HTTP_TASK_STACK_SIZE=8192
# mDNS 1.11.3 indexes two slots in duplicate-interface detection even with only STA enabled.
CONFIG_MDNS_MAX_INTERFACES=2
CONFIG_MDNS_MAX_SERVICES=2
CONFIG_MDNS_ACTION_QUEUE_LEN=8
CONFIG_MDNS_TASK_STACK_SIZE=4096
CONFIG_MDNS_PREDEF_NETIF_STA=y
CONFIG_MDNS_PREDEF_NETIF_AP=n
CONFIG_MDNS_PREDEF_NETIF_ETH=n
CONFIG_MDNS_ENABLE_CONSOLE_CLI=n
CONFIG_MDNS_MULTIPLE_INSTANCE=n
CONFIG_MQTT_PROTOCOL_311=y
# CONFIG_MQTT_PROTOCOL_5 is not set
# CONFIG_MQTT_TRANSPORT_SSL is not set
# CONFIG_MQTT_TRANSPORT_WEBSOCKET is not set
# CONFIG_MQTT_TRANSPORT_WEBSOCKET_SECURE is not set
CONFIG_MQTT_SKIP_PUBLISH_IF_DISCONNECTED=y
CONFIG_MQTT_REPORT_DELETED_MESSAGES=y
