CONFIG_PLATFORM_BOARD_ESP32_DEVKIT=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_CC1101_SPI_SCLK_GPIO=18
CONFIG_CC1101_SPI_MISO_GPIO=19
CONFIG_CC1101_SPI_MOSI_GPIO=23
CONFIG_CC1101_SPI_CS_GPIO=27
CONFIG_CC1101_GDO0_GPIO=26
CONFIG_CC1101_GDO2_GPIO=25
CONFIG_RF_ACTIVITY_LED_ENABLE=y
CONFIG_RF_ACTIVITY_LED_GPIO=2
CONFIG_RF_ACTIVITY_LED_ACTIVE_HIGH=y
