CONFIG_PLATFORM_BOARD_ESP32S3_DEVKITC_N16R8=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_CC1101_SPI_SCLK_GPIO=12
CONFIG_CC1101_SPI_MISO_GPIO=13
CONFIG_CC1101_SPI_MOSI_GPIO=11
CONFIG_CC1101_SPI_CS_GPIO=10
CONFIG_CC1101_GDO0_GPIO=4
CONFIG_CC1101_GDO2_GPIO=5
# CONFIG_RF_ACTIVITY_LED_ENABLE is not set
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_HW_INIT=y
CONFIG_SPIRAM_BOOT_INIT=y
# CONFIG_SPIRAM_IGNORE_NOTFOUND is not set
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MEMTEST=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=65536
# CONFIG_FREERTOS_TASK_CREATE_ALLOW_EXT_MEM is not set
