CONFIG_PLATFORM_BOARD_ESP32S3_SUPERMINI_FH4R2=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/esp32s3-supermini-fh4r2/partitions.csv"
CONFIG_CC1101_SPI_SCLK_GPIO=12
CONFIG_CC1101_SPI_MISO_GPIO=13
CONFIG_CC1101_SPI_MOSI_GPIO=11
CONFIG_CC1101_SPI_CS_GPIO=10
CONFIG_CC1101_GDO0_GPIO=4
CONFIG_CC1101_GDO2_GPIO=5
# CONFIG_RF_ACTIVITY_LED_ENABLE is not set
