CONFIG_PLATFORM_BOARD_XIAO_ESP32S3=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/xiao-esp32s3/partitions.csv"
CONFIG_CC1101_SPI_SCLK_GPIO=7
CONFIG_CC1101_SPI_MISO_GPIO=8
CONFIG_CC1101_SPI_MOSI_GPIO=9
CONFIG_CC1101_SPI_CS_GPIO=4
CONFIG_CC1101_GDO0_GPIO=2
CONFIG_CC1101_GDO2_GPIO=1
CONFIG_RF_ACTIVITY_LED_ENABLE=y
CONFIG_RF_ACTIVITY_LED_GPIO=21
# CONFIG_RF_ACTIVITY_LED_ACTIVE_HIGH is not set
