menu "Shared Web and LAN OTA HTTP server"

config OTA_HTTP_PORT
    int "Shared Web and LAN OTA HTTP port"
    range 80 65535
    default 80

config OTA_HTTP_TASK_STACK_SIZE
    int "Shared Web and LAN OTA HTTP server task stack size"
    range 8192 16384
    default 8192

endmenu
